<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvkzceXsZAUcpUJ9aSYcc0jorsFXmzLJE</string>
	<key>GCM_SENDER_ID</key>
	<string>1063972981934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthquest.healthQuest</string>
	<key>PROJECT_ID</key>
	<string>healthquestwellness</string>
	<key>STORAGE_BUCKET</key>
	<string>healthquestwellness.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063972981934:ios:68f58e10f79feef771f13f</string>
</dict>
</plist>